<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="c:\repos\secrets\momentum2016.config">
    <add key="ProgramCode" value="" />
    <add key="ApiKey" value="" />
    <add key="BaseUrl" value=""/>
    <add key="AppName" value="EventPoint.Samples.EpConsole"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
