<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="c:\repos\secrets\envision2016.config">
    <!--<add key="ApiKey" value="{contact eventpoint for an apikey}"/>
    <add key="RegistrantKey" value="{user on behalf of whom you are calling}"/>
    <add key="BaseUrl" value="https://eventpoint-{program.code}-services.azurewebsites.net"/>-->
    <add key="AppName" value="EventPoint.Samples.Clients.ApiConsole"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
